{
  "presets": [
    ["@babel/preset-env"],
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": [["react-css-modules", {
    "filetypes": {
      ".scss": {
        "syntax": "postcss-scss"
      }
    }
  }], "@babel/plugin-transform-regenerator", "@babel/plugin-syntax-export-default-from", "@babel/plugin-proposal-class-properties"]
}